---
import Layout from '../layouts/Layout.astro';
import OcrForm from '../components/OcrForm.astro';
---

<Layout title="Conversor imagen a texto">
  <main>
    <img class="w-full max-w-xs mx-auto pb-6 pt-12" src="/Logo.svg" alt="OJO LECTOR">
    <OcrForm />
  </main>
</Layout>